In [1]:
import nltk
import pandas as pd

In [2]:
editorial = "Samples are comprised of one or more variables generally easy to devise or create. One sample is often defined as a vector of variables with a predefined range in an n-dimensional space. This space must be sampled and explored in order to find the specific combination of variable values that result in the best cost.The cost often has units that are specific to a given domain. Optimization is often described in terms of minimizing cost, as a maximization problem can easily be transformed into a minimization problem by inverting the calculated cost. Together, the minimum and maximum of a function are referred to as the extreme of the function (or the plural extrema).The objective function is often easy to specify but can be computationally challenging to calculate or result in a noisy calculation of cost over time. The form of the objective function is unknown and is often highly nonlinear, and highly multi-dimensional defined by the number of input variables. The function is also probably non-convex. This means that local extrema may or may not be the global extrema (e.g. could be misleading and result in premature convergence), hence the name of the task as global rather than local optimization.Although little is known about the objective function, (it is known whether the minimum or the maximum cost from the function is sought), and as such, it is often referred to as a black box function and the search process as black box optimization. Further, the objective function is sometimes called an oracle given the ability to only give answers.Function optimization is a fundamental part of machine learning. Most machine learning algorithms involve the optimization of parameters (weights, coefficients, etc.) in response to training data. Optimization also refers to the process of finding the best set of hyperparameters that configure the training of a machine learning algorithm. Taking one step higher again, the selection of training data, data preparation, and machine learning algorithms themselves is also a problem of function optimization"

In [3]:
editorial

'Samples are comprised of one or more variables generally easy to devise or create. One sample is often defined as a vector of variables with a predefined range in an n-dimensional space. This space must be sampled and explored in order to find the specific combination of variable values that result in the best cost.The cost often has units that are specific to a given domain. Optimization is often described in terms of minimizing cost, as a maximization problem can easily be transformed into a minimization problem by inverting the calculated cost. Together, the minimum and maximum of a function are referred to as the extreme of the function (or the plural extrema).The objective function is often easy to specify but can be computationally challenging to calculate or result in a noisy calculation of cost over time. The form of the objective function is unknown and is often highly nonlinear, and highly multi-dimensional defined by the number of input variables. The function is also probably non-convex. This means that local extrema may or may not be the global extrema (e.g. could be misleading and result in premature convergence), hence the name of the task as global rather than local optimization.Although little is known about the objective function, (it is known whether the minimum or the maximum cost from the function is sought), and as such, it is often referred to as a black box function and the search process as black box optimization. Further, the objective function is sometimes called an oracle given the ability to only give answers.Function optimization is a fundamental part of machine learning. Most machine learning algorithms involve the optimization of parameters (weights, coefficients, etc.) in response to training data. Optimization also refers to the process of finding the best set of hyperparameters that configure the training of a machine learning algorithm. Taking one step higher again, the selection of training data, data preparation, and machine learning algorithms themselves is also a problem of function optimization'

In [4]:
import re
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

lemm = WordNetLemmatizer()

sentence = nltk.sent_tokenize(editorial)

In [5]:
sentence

['Samples are comprised of one or more variables generally easy to devise or create.',
 'One sample is often defined as a vector of variables with a predefined range in an n-dimensional space.',
 'This space must be sampled and explored in order to find the specific combination of variable values that result in the best cost.The cost often has units that are specific to a given domain.',
 'Optimization is often described in terms of minimizing cost, as a maximization problem can easily be transformed into a minimization problem by inverting the calculated cost.',
 'Together, the minimum and maximum of a function are referred to as the extreme of the function (or the plural extrema).The objective function is often easy to specify but can be computationally challenging to calculate or result in a noisy calculation of cost over time.',
 'The form of the objective function is unknown and is often highly nonlinear, and highly multi-dimensional defined by the number of input variables.',
 'The function is also probably non-convex.',
 'This means that local extrema may or may not be the global extrema (e.g.',
 'could be misleading and result in premature convergence), hence the name of the task as global rather than local optimization.Although little is known about the objective function, (it is known whether the minimum or the maximum cost from the function is sought), and as such, it is often referred to as a black box function and the search process as black box optimization.',
 'Further, the objective function is sometimes called an oracle given the ability to only give answers.Function optimization is a fundamental part of machine learning.',
 'Most machine learning algorithms involve the optimization of parameters (weights, coefficients, etc.)',
 'in response to training data.',
 'Optimization also refers to the process of finding the best set of hyperparameters that configure the training of a machine learning algorithm.',
 'Taking one step higher again, the selection of training data, data preparation, and machine learning algorithms themselves is also a problem of function optimization']

Clean the text before applying extraction method

In [6]:
corpus = []

for i in range(len(sentence)):
    words = re.sub('[^a-zA-Z]',' ',sentence[i])
    words = words.lower()
    words = words.split()
    words = [lemm.lemmatize(word) for word in words if word not in set(stopwords.words('english'))]
    words = ' '.join(words)
    corpus.append(words)

In [7]:
corpus

['sample comprised one variable generally easy devise create',
 'one sample often defined vector variable predefined range n dimensional space',
 'space must sampled explored order find specific combination variable value result best cost cost often unit specific given domain',
 'optimization often described term minimizing cost maximization problem easily transformed minimization problem inverting calculated cost',
 'together minimum maximum function referred extreme function plural extremum objective function often easy specify computationally challenging calculate result noisy calculation cost time',
 'form objective function unknown often highly nonlinear highly multi dimensional defined number input variable',
 'function also probably non convex',
 'mean local extremum may may global extremum e g',
 'could misleading result premature convergence hence name task global rather local optimization although little known objective function known whether minimum maximum cost function sought often referred black box function search process black box optimization',
 'objective function sometimes called oracle given ability give answer function optimization fundamental part machine learning',
 'machine learning algorithm involve optimization parameter weight coefficient etc',
 'response training data',
 'optimization also refers process finding best set hyperparameters configure training machine learning algorithm',
 'taking one step higher selection training data data preparation machine learning algorithm also problem function optimization']

#### TF-IDF

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [9]:
tfidf = TfidfVectorizer()
x = tfidf.fit_transform(corpus).toarray()
df = pd.DataFrame(x)

In [10]:
df

,0,1,2,3,4,5,6,7,8,9,...,107,108,109,110,111,112,113,114,115,116
0,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.271447,0.00000,0.000000,0.00000
1,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.255614,0.36722,0.000000,0.00000
2,0.000000,0.000000,0.000000,0.00000,0.000000,0.200661,0.00000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.231841,0.000000,0.231841,0.161380,0.00000,0.000000,0.00000
3,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.00000,0.000000,0.261553,...,0.000000,0.000000,0.261553,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000
4,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.00000,0.231102,0.000000,...,0.231102,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000
5,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.275758,0.000000,0.191950,0.00000,0.000000,0.00000
6,0.000000,0.000000,0.388231,0.00000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000
7,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000
8,0.000000,0.000000,0.000000,0.16704,0.000000,0.000000,0.33408,0.33408,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.16704
9,0.289755,0.000000,0.000000,0.00000,0.289755,0.000000,0.00000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000
10,0.000000,0.293091,0.000000,0.00000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.380591,0.00000
11,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,...,0.000000,0.503194,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000
12,0.000000,0.248702,0.248702,0.00000,0.000000,0.279518,0.00000,0.00000,0.000000,0.000000,...,0.000000,0.248702,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000
13,0.000000,0.215500,0.215500,0.00000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,...,0.000000,0.215500,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000

In [11]:
tfidf.vocabulary_

{'sample': 92,
 'comprised': 15,
 'one': 73,
 'variable': 113,
 'generally': 40,
 'easy': 30,
 'devise': 26,
 'create': 22,
 'often': 72,
 'defined': 24,
 'vector': 114,
 'predefined': 80,
 'range': 86,
 'dimensional': 27,
 'space': 99,
 'must': 65,
 'sampled': 93,
 'explored': 32,
 'order': 76,
 'find': 35,
 'specific': 100,
 'combination': 14,
 'value': 112,
 'result': 91,
 'best': 5,
 'cost': 20,
 'unit': 110,
 'given': 42,
 'domain': 28,
 'optimization': 74,
 'described': 25,
 'term': 105,
 'minimizing': 61,
 'maximization': 56,
 'problem': 84,
 'easily': 29,
 'transformed': 109,
 'minimization': 60,
 'inverting': 49,
 'calculated': 9,
 'together': 107,
 'minimum': 62,
 'maximum': 57,
 'function': 38,
 'referred': 88,
 'extreme': 33,
 'plural': 79,
 'extremum': 34,
 'objective': 71,
 'specify': 101,
 'computationally': 16,
 'challenging': 12,
 'calculate': 8,
 'noisy': 67,
 'calculation': 10,
 'time': 106,
 'form': 37,
 'unknown': 111,
 'highly': 46,
 'nonlinear': 69,
 'multi': 64,
 'number': 70,
 'input': 48,
 'also': 2,
 'probably': 83,
 'non': 68,
 'convex': 19,
 'mean': 59,
 'local': 54,
 'may': 58,
 'global': 43,
 'could': 21,
 'misleading': 63,
 'premature': 81,
 'convergence': 18,
 'hence': 44,
 'name': 66,
 'task': 104,
 'rather': 87,
 'although': 3,
 'little': 53,
 'known': 51,
 'whether': 116,
 'sought': 98,
 'black': 6,
 'box': 7,
 'search': 94,
 'process': 85,
 'sometimes': 97,
 'called': 11,
 'oracle': 75,
 'ability': 0,
 'give': 41,
 'answer': 4,
 'fundamental': 39,
 'part': 78,
 'machine': 55,
 'learning': 52,
 'algorithm': 1,
 'involve': 50,
 'parameter': 77,
 'weight': 115,
 'coefficient': 13,
 'etc': 31,
 'response': 90,
 'training': 108,
 'data': 23,
 'refers': 89,
 'finding': 36,
 'set': 96,
 'hyperparameters': 47,
 'configure': 17,
 'taking': 103,
 'step': 102,
 'higher': 45,
 'selection': 95,
 'preparation': 82}

### Spam or Ham

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
df = pd.read_csv('spam.tsv',sep = '\t')

In [14]:
df.head(10)

  label                                            message  length  punct
0   ham  Go until jurong point, crazy.. Available only ...     111      9
1   ham                      Ok lar... Joking wif u oni...      29      6
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3   ham  U dun say so early hor... U c already then say...      49      6
4   ham  Nah I don't think he goes to usf, he lives aro...      61      2
5  spam  FreeMsg Hey there darling it's been 3 week's n...     147      8
6   ham  Even my brother is not like to speak with me. ...      77      2
7   ham  As per your request 'Melle Melle (Oru Minnamin...     160      6
8  spam  WINNER!! As a valued network customer you have...     157      6
9  spam  Had your mobile 11 months or more? U R entitle...     154      2

In [15]:
df.shape

(5572, 4)

In [16]:
#The dataset shows no null values
df.isnull().sum()

label      0
message    0
length     0
punct      0
dtype: int64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   label    5572 non-null   object
 1   message  5572 non-null   object
 2   length   5572 non-null   int64
 3   punct    5572 non-null   int64
dtypes: int64(2), object(2)
memory usage: 174.2+ KB

In [18]:
df.describe()

            length        punct
count  5572.000000  5572.000000
mean     80.489950     4.177495
std      59.942907     4.623919
min       2.000000     0.000000
25%      36.000000     2.000000
50%      62.000000     3.000000
75%     122.000000     6.000000
max     910.000000   133.000000

In [19]:
#The data is highly imbalanced and the results will be biased 
df['label'].value_counts(normalize = True)*100

ham     86.593683
spam    13.406317
Name: label, dtype: float64

In [20]:
#The SMOTE ,undersampling method or any other regular sampling doesnt work in Text Analytics
# Basic Numpy samples will be used in this
ham = df[df['label']=='ham']
spam = df[df['label'] =='spam']

In [21]:
print(ham.shape,spam.shape)

(4825, 4) (747, 4)

In [22]:
#Replace = True is because it cannot make more sample than spam's size without replacing
spam = spam.sample(ham.shape[0],replace = True)

In [23]:
data = ham.append(spam,ignore_index = True)

C:\Users\asus\AppData\Local\Temp\ipykernel_21536\3655962713.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = ham.append(spam,ignore_index = True)

In [24]:
data.shape

(9650, 4)

In [25]:
data.head(10)

  label                                            message  length  punct
0   ham  Go until jurong point, crazy.. Available only ...     111      9
1   ham                      Ok lar... Joking wif u oni...      29      6
2   ham  U dun say so early hor... U c already then say...      49      6
3   ham  Nah I don't think he goes to usf, he lives aro...      61      2
4   ham  Even my brother is not like to speak with me. ...      77      2
5   ham  As per your request 'Melle Melle (Oru Minnamin...     160      6
6   ham  I'm gonna be home soon and i don't want to tal...     109      6
7   ham  I've been searching for the right words to tha...     196      4
8   ham                I HAVE A DATE ON SUNDAY WITH WILL!!      35      2
9   ham                         Oh k...i'm watching here:)      26      6

In [26]:
#Split the data into test and train
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df['message'],df['label'],
                                                 test_size = 0.3,random_state = 101)

In [27]:
#Feature_ Extraction before builidng the modle(TF-IDF)
from sklearn.feature_extraction.text import TfidfVectorizer

#Build Classification model(Random Forest Classifier)

from sklearn.ensemble import RandomForestClassifier

#Create the Pipeline to build a ML model

from sklearn.pipeline import Pipeline

In [42]:
classification_model = Pipeline([('tfidf',TfidfVectorizer(stop_words = stopwords.words('english'))),
                                ('randomforest',RandomForestClassifier(n_estimators = 100))])

In [43]:
classification_model.fit(x_train,y_train)

Pipeline(steps=[('tfidf',
                 TfidfVectorizer(stop_words=['i', 'me', 'my', 'myself', 'we',
                                             'our', 'ours', 'ourselves', 'you',
                                             "you're", "you've", "you'll",
                                             "you'd", 'your', 'yours',
                                             'yourself', 'yourselves', 'he',
                                             'him', 'his', 'himself', 'she',
                                             "she's", 'her', 'hers', 'herself',
                                             'it', "it's", 'its', 'itself', ...])),
                ('randomforest', RandomForestClassifier())])

In [44]:
y_pred_train =classification_model.predict(x_train)
y_pred_test = classification_model.predict(x_test)

In [45]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [46]:
confusion_matrix(y_train,y_pred_train)

array([[3350,    0],
       [   0,  550]], dtype=int64)

In [47]:
confusion_matrix(y_test,y_pred_test)

array([[1475,    0],
       [  32,  165]], dtype=int64)

In [48]:
print(classification_report(y_train,y_pred_train))

              precision    recall  f1-score   support

         ham       1.00      1.00      1.00      3350
        spam       1.00      1.00      1.00       550

    accuracy                           1.00      3900
   macro avg       1.00      1.00      1.00      3900
weighted avg       1.00      1.00      1.00      3900

In [49]:
print(classification_report(y_test,y_pred_test))

              precision    recall  f1-score   support

         ham       0.98      1.00      0.99      1475
        spam       1.00      0.84      0.91       197

    accuracy                           0.98      1672
   macro avg       0.99      0.92      0.95      1672
weighted avg       0.98      0.98      0.98      1672

In [50]:
print('Training Accuracy:',accuracy_score(y_train,y_pred_train))
print('\n')
print('************************************************'*10)
print('\n')
print('Test Accuracy:',accuracy_score(y_test,y_pred_test))

Training Accuracy: 1.0


************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************


Test Accuracy: 0.9808612440191388

In [51]:
print(classification_report(y_train,y_pred_train))

              precision    recall  f1-score   support

         ham       1.00      1.00      1.00      3350
        spam       1.00      1.00      1.00       550

    accuracy                           1.00      3900
   macro avg       1.00      1.00      1.00      3900
weighted avg       1.00      1.00      1.00      3900

In [52]:
print(classification_report(y_test,y_pred_test))

              precision    recall  f1-score   support

         ham       0.98      1.00      0.99      1475
        spam       1.00      0.84      0.91       197

    accuracy                           0.98      1672
   macro avg       0.99      0.92      0.95      1672
weighted avg       0.98      0.98      0.98      1672

In [39]:
test1 = ['Hey How are you.Are you Fine']
test2 = ['Congratulations, you have won $2 million rupees!!!!!!!!!!!.To Claim call @546223']
test3 = ["From healthcare and transportation to finance and retail, there are hardly any industries left where Data Science and Machine Learning haven't made a significant impact. This is also what makes it one of the highest-paid specializations in the tech industry, with salaries that are often well above the national average.To get started in these fields, apply now to our program Data Science and Machine Learning: Making Data-Driven Decisions [delivered by MIT IDSS and Great Learning] and leverage some of the best opportunities out there! Carefully crafted by MIT faculty to provide you with the skills & knowledge covering the most business-relevant technologies, such as Machine Learning, Deep Learning, NLP, Recommendation Systems, and more.With the “learn by doing” pedagogy, master 6+ tools such as Python, Numpy, Keras, TensorFlow, and much more by working on more than 50 case studies!"]

In [40]:
print(classification_model.predict(test1))
print(classification_model.predict(test2))
print(classification_model.predict(test3))

['ham']
['spam']
['ham']